
<mkd-demo-layout label="Breadcrumb">
  <div slot="play">
    <mk-breadcrumb
        path='[{key: "a", display: "Mask"} {key: "b", display: "Options"} {key: "c", display: "Colors"}]'
    ></mk-breadcrumb>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Breadcrumbs displays an array of objects with two properties: <code>display</code> and
      <code>key</code>. <code>display</code> is the string that gets displayed on the crumbs, while
      <code>key</code> will be included in the event dispatched when one of the crumbs is clicked.
    </p>
  </div>
</mkd-demo-layout>

