<style>
  #play {
    grid-template-columns: 1fr calc(var(--mkGridColumn) * 2 + var(--mkGridGap));
  }

  #unknownCheckbox {
    grid-column: 1 / 2;
  }

  #resetButton {
    grid-column: 2 / 3;
  }

  #knownCheckbox {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  #resetSection {
    width: 8rem;
  }
</style>

<mkd-demo-layout label="Checkbox">
  <div id="play" slot="play" layout="grid">
    <mk-checkbox id="unknownCheckbox" default-value="unknown" label="Initially unknown"></mk-checkbox>
    <mk-text-icon-button id="resetButton" label="Reset"></mk-text-icon-button>
    <mk-checkbox id="knownCheckbox" default-value="T" label="Disabled" disabled></mk-checkbox>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Mask's checkboxes support 3 states: checked, unchecked, and unknown.
    </p>
  </div>
</mkd-demo-layout>

