<style id="theme"></style>
<style>
  #col1 {
    width: 19rem;
  }

  #col2, #col3 {
    width: 9rem;
  }

  tbody tr {
    height: 8em;
  }
</style>

<mkd-demo-layout label="Colors">
  <div slot="play">
    <table>
      <colgroup>
        <col id="col1">
        <col id="col2">
        <col id="col3">
      </colgroup>
      <thead mk-body-2>
        <tr>
          <th></th>
          <th>normal</th>
          <th>highlight</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td mk-body-2>passive</td>
          <td style="background-color: var(--mkThemePassiveBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemePassiveFG1)">
                A<span style="color: var(--mkThemePassiveFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">10-10.M-200</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemePassiveBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemePassiveFG1)">
                A<span style="color: var(--mkThemePassiveFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">10-10.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action</td>
          <td style="background-color: var(--mkThemeActionBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionFG1)">
                A<span style="color: var(--mkThemeActionFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">50-50.M-200</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionFG1)">
                A<span style="color: var(--mkThemeActionFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action focus</td>
          <td style="background-color: var(--mkThemeActionFocusBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionFocusFG1)">
                A<span style="color: var(--mkThemeActionFocusFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionFocusFG2)">50-50.M-175</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionFocusBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionFocusFG1)">
                A<span style="color: var(--mkThemeActionFocusFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionFocusFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action disabled</td>
          <td style="background-color: var(--mkThemeActionDisabledBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionDisabledFG1)">
                A<span style="color: var(--mkThemeActionDisabledFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">10.L-10.L-200</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionDisabledBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionDisabledFG1)">
                A<span style="color: var(--mkThemeActionDisabledFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>active</td>
          <td style="background-color: var(--mkThemeActiveBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActiveFG1)">
                A<span style="color: var(--mkThemeActiveFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActiveFG2)">50-50.M-175</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActiveBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActiveFG1)">
                A<span style="color: var(--mkThemeActiveFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActiveFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action primary</td>
          <td style="background-color: var(--mkThemeActionPrimaryBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryFG1)">
                A<span style="color: var(--mkThemeActionPrimaryFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionPrimaryFG2)">50-50.M-175</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionPrimaryBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryFG1)">
                A<span style="color: var(--mkThemeActionPrimaryFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionPrimaryFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action primary focus</td>
          <td style="background-color: var(--mkThemeActionPrimaryFocusBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryFocusFG1)">
                A<span style="color: var(--mkThemeActionPrimaryFocusFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionPrimaryFocusFG2)">50-50.M-175</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionPrimaryFocusBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryFocusFG1)">
                A<span style="color: var(--mkThemeActionPrimaryFocusFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemeActionPrimaryFocusFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>

        <tr>
          <td mk-body-2>action primary disabled</td>
          <td style="background-color: var(--mkThemeActionPrimaryDisabledBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryDisabledFG1)">
                A<span style="color: var(--mkThemeActionPrimaryDisabledFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">50-50.M-175</div>
            </div>
          </td>
          <td mk-theme-highlight style="background-color: var(--mkThemeActionPrimaryDisabledBG)">
            <div flex-align="center" layout="column">
              <h3 flex style="color: var(--mkThemeActionPrimaryDisabledFG1)">
                A<span style="color: var(--mkThemeActionPrimaryDisabledFG2)">a</span>
              </h3>
              <div class="label" style="color: var(--mkThemePassiveFG2)">50-50.M-175</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Mask supports theming based on the modes outlined above. These modes are applicable in both
      light mode and dark mode.
    </p>
  </div>
</mkd-demo-layout>

