
<style>
  #col1 {
    width: 14rem;
  }

  #col2 {
    width: 9rem;
  }

  #passive {
    background-color: var(--mkThemePassiveBG);
  }

  #secondary {
    background-color: var(--mkThemePassiveBG);
  }

  #action {
    background-color: var(--mkThemeActionBG);
  }

  #focus {
    background-color: var(--mkThemeActionFocusBG);
  }

  #disabled {
    background-color: var(--mkThemeActionDisabledBG);
  }

  #active {
    background-color: var(--mkThemeActiveBG);
  }

  #actionPrimary {
    background-color: var(--mkThemeActionPrimaryBG);
  }

  #primaryFocus {
    background-color: var(--mkThemeActionPrimaryFocusBG);
  }

  #primaryDisabled {
    background-color: var(--mkThemeActionPrimaryDisabledBG);
  }
</style>

<mkd-demo-layout label="Icon">
  <div slot="play">
    <table>
      <colgroup>
        <col id="col1">
        <col id="col2">
      </colgroup>
      <thead>
        <tr>
          <th>Mode</th>
          <th>Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Passive</td>
          <td id="passive"><mk-icon mode="passive" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Secondary</td>
          <td id="secondary"><mk-icon mode="secondary" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Action</td>
          <td id="action"><mk-icon mode="action" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Focus</td>
          <td id="focus"><mk-icon mode="focus" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td id="disabled"><mk-icon mode="disabled" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Active</td>
          <td id="active"><mk-icon mode="active" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Primary Action</td>
          <td id="actionPrimary"><mk-icon mode="actionPrimary" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Primary Focused</td>
          <td id="primaryFocus"><mk-icon mode="primaryFocus" icon="highlight"></mk-icon></td>
        </tr>
        <tr>
          <td>Primary Disabled</td>
          <td id="primaryDisabled"><mk-icon mode="primaryDisabled" icon="highlight"></mk-icon></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Mask uses SVGs for icons. These icons should be monochromatic and have one polygon with the
      <code>foreground</code> ID. This node will be colored the same color as the text in different
      modes, as shown above.
    </p>
  </div>
</mkd-demo-layout>

