<style id="theme"></style>

<mkd-demo-layout label="Icon with Text">
  <div slot="play">
    <mk-icon-with-text icon="palette"></mk-icon-with-text>
    <mk-icon-with-text icon="palette" label="Label"></mk-icon-with-text>
    <mk-icon-with-text label="Text only"></mk-icon-with-text>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Mask provides a convenient way to display an icon with a text. Use this to indicate sections,
      or parts of more complex components.
    </p>
  </div>
</mkd-demo-layout>

