<style id="theme"></style>

<mkd-demo-layout>
  <div slot="play">
    <div>
      <mk-icon icon="highlight"></mk-icon>
      <mk-icon mode="passive" icon="highlight"></mk-icon>
      <mk-icon mode="secondary" icon="highlight"></mk-icon>
      <mk-icon mode="action" icon="highlight"></mk-icon>
      <mk-icon mode="focus" icon="highlight"></mk-icon>
      <mk-icon mode="disabled" icon="highlight"></mk-icon>
      <mk-icon mode="active" icon="highlight"></mk-icon>
      <mk-icon mode="actionPrimary" icon="highlight"></mk-icon>
      <mk-icon mode="primaryFocus" icon="highlight"></mk-icon>
      <mk-icon mode="primaryDisabled" icon="highlight"></mk-icon>
    </div>
    <div>
      <mk-icon icon="palette"></mk-icon>
      <mk-icon mode="passive" icon="palette"></mk-icon>
      <mk-icon mode="secondary" icon="palette"></mk-icon>
      <mk-icon mode="action" icon="palette"></mk-icon>
      <mk-icon mode="focus" icon="palette"></mk-icon>
      <mk-icon mode="disabled" icon="palette"></mk-icon>
      <mk-icon mode="active" icon="palette"></mk-icon>
      <mk-icon mode="actionPrimary" icon="palette"></mk-icon>
      <mk-icon mode="primaryFocus" icon="palette"></mk-icon>
      <mk-icon mode="primaryDisabled" icon="palette"></mk-icon>
    </div>
  </div>
  <div slot="docs">
    <p>
      Test text
    </p>
  </div>
</mkd-demo-layout>

