
<mkd-demo-layout label="Icon with Text">
  <div slot="play">
      <mk-text-input
          init-value="Initial Value"
          label="Enabled input">
      </mk-text-input>
      <mk-text-input init-value="Initial Value"></mk-text-input>
      <mk-text-input
          init-value="Disabled"
          disabled="true"
          label="Disabled input">
      </mk-text-input>
      <mk-text-input
          init-value="123"
          label="Number input"
          type="number">
      </mk-text-input>
      <mk-text-input
          autocomplete="email"
          init-value="email@gmail.com"
          label="Email input"
          type="email">
      </mk-text-input>
      <mk-text-input
          autocomplete="on"
          init-value="(415) 246-3848"
          label="Telephone input"
          type="tel">
      </mk-text-input>
      <mk-text-input
          autocomplete="on"
          init-value="www.github.com"
          label="URL input"
          type="url">
      </mk-text-input>
  </div>
  <div slot="docs">
    <p mk-body-1>
      Mask's text input allows you to specify a label, a default value, and some simple formatting.
      By specifying the <code>type</code>, Mask will prevent the user from typing invalid values.
    </p>
  </div>
</mkd-demo-layout>

