<style>
  #anchors {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #anchors h4 {
    grid-column: 1 / 3;
  }

  #buttonContainer {
    min-width: 20rem;
    padding: 1rem;
  }

  #drawerContent {
    padding: 1rem;
    width: 10rem;
  }

  #overlayHeader {
    margin-top: 4rem;
  }
</style>

<mkd-demo-layout label="Overlay layout">
  <div slot="play" layout="row">
    <div id="buttonContainer" layout="column" flex-justify="center">
      <mk-button id="target">
        <mk-line-layout>Show</mk-line-layout>
      </mk-button>
    </div>
    <div id="anchors" flex layout="column">
      <h4>Target anchor</h4>
      <div id="targetHorizontal">
        <div>Horizontal</div>
        <!-- #targetHorizontalAnchors -->
      </div>
      <div id="targetVertical">
        <div>Vertical</div>
        <!-- #targetVerticalAnchors -->
      </div>

      <h4 id="overlayHeader">Overlay anchor</h4>
      <div id="overlayHorizontal">
        <div>Horizontal</div>
        <!-- #overlayHorizontalAnchors -->
      </div>
      <div id="overlayVertical">
        <div>Vertical</div>
        <!-- #overlayVerticalAnchors -->
      </div>
    </div>

    <mk-overlay-layout id="overlay" target-id="target">
      <mk-line-layout>Overlay content</mk-line-layout>
    </mk-overlay-layout>
  </div>
  <div slot="docs">
    <p mk-body-1>
      TODO
    </p>
  </div>
</mkd-demo-layout>

