/*************
 * Applied CSS
 *************/

html, input {
  font-family: var(--mkFontFamilyNormal);
}

html {
  font-size: 75%;
}

body {
  margin: 0;
}

[mk-body-1],
[mk-body-2],
a,
code {
  font-size: 1.25rem;
  line-height: 2rem;
}

[mk-body-2] {
  font-weight: 700;
}

[mk-secondary] {
  color: var(--mkThemeSecondaryFG);
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: var(--mkThemeActionFG);
  font-weight: var(--mkFontWeightBold);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--mkThemeActionFocusFG);
  cursor: pointer;
  text-decoration: underline;
}

a:focus {
  outline: none;
}

a[disabled] {
  color: var(--mkThemeActionDisabledFG);
  cursor: default;
}

h1 {
  font-size: 9rem;
  font-weight: 300;
}

h1[mk-display] {
  line-height: 12rem;
}

h2 {
  font-size: 5rem;
  font-weight: 400;
}

h2[mk-display] {
  line-height: 8rem;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
}

h3[mk-display] {
  line-height: 8rem;
}

h4 {
  font-size: 3rem;
  font-weight: 400;
}

h4[mk-display] {
  line-height: 4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 500;
}

h5[mk-display] {
  line-height: 4rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: 700;
}

h6[mk-display] {
  line-height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--mkThemePassiveFG);
  font-family: var(--mkFontFamilyHeader);
  margin: 0;
}

code {
  background-color: var(--mkThemeActiveBG);
  border-radius: .4rem;
  color: var(--mkThemeActiveFG);
  font-family: var(--mkFontFamilyMono);
  padding: .2rem;
}

fieldset {
  border: 2px solid var(--mkThemeActionFG);
  padding: 1rem 1rem 2rem 1rem;
}

fieldset:hover, fieldset:focus {
  border-color: var(--mkThemeActionFocusFG);
}

input {
  background-color: var(--mkThemePassiveBG);
}

label {
  color: var(--mkThemeSecondaryFG);
  font-size: .75rem;
  line-height: 1rem;
  text-transform: uppercase;
}

legend {
  color: var(--mkThemeActionFG);
}

fieldset:hover > legend, fieldset:focus > legend {
  color: var(--mkThemeActionFocusFG);
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

/* Table styling */
table {
  border-collapse: collapse;
  font-size: var(--gsFontSizeRoot);
}

table tr:nth-child(2n) {
  background-color: var(--mkThemePassiveBG);
}

td {
  border: 1px solid var(--mkThemePassiveFG);
  padding: .5rem;
}

/* Layouts */
[layout] {
  display: flex;
}

[layout="row"] {
  flex-direction: row;
}

[layout="column"] {
  flex-direction: column;
}

[flex] {
  flex: 1;
}

[flex-wrap] {
  flex-wrap: wrap;
}

[flex-justify="flex-start"] {
  justify-content: flex-start;
}

[flex-justify="flex-end"] {
  justify-content: flex-end;
}

[flex-justify="center"] {
  justify-content: center;
}

[flex-justify="space-between"] {
  justify-content: space-between;
}

[flex-justify="space-around"] {
  justify-content: space-around;
}

[flex-align="flex-start"] {
  align-items: flex-start;
}

[flex-align="flex-end"] {
  align-items: flex-end;
}

[flex-align="center"] {
  align-items: center;
}

[flex-align="stretch"] {
  align-items: stretch;
}

[flex-align="baseline"] {
  align-items: baseline;
}

[fill-parent] {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

[shadow="up"] {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2),
      0 3px 4px 0 rgba(0,0,0,.14),
      0 3px 3px -2px rgba(0,0,0,.12);
}
[shadow="down"] {
  position: relative;
}
[shadow="down"]::before {
  content: '';

  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;

  box-shadow: inset 4px 1px 8px 0 rgba(0,0,0,.2),
      inset 0 3px 4px 0 rgba(0,0,0,.14),
      inset 1.5px 3px 3px -2px rgba(0,0,0,.12);
  pointer-events: none;
}

/* Themes */
[mk-theme-highlight],
[mk-theme="light"],
[mk-theme="dark"] {
  background: var(--mkThemePassiveBG);
  color: var(--mkThemePassiveFG);
}
