@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Lato:400,700|Ubuntu+Mono');
/**
 * Colors
 */
[mk-theme="light"] {
  /*{themeLight}*/
}

[mk-theme="dark"] {
  /*{themeDark}*/
}

[mk-theme="highlight"] {
  /*{themeHighlight}*/
}

/**
 * Fonts
 */
* {
  --mkFontFamilyHeader: 'Montserrat', cursive;
  --mkFontFamilyNormal: 'Lato', sans-serif;
  --mkFontFamilyMono: 'Ubuntu Mono', monospace;

  --mkFontWeightNormal: 400;
  --mkFontWeightBold: 700;
  --mkLineHeight: 2rem;

  --mkSizePadding: 1rem;

  --mkAnimationTime: .2s;
}
