<style>
  #bulletContainer {
    overflow: hidden;
    width: 4rem;
  }

  #contents {
    overflow: hidden;
  }

  #label::slotted(*),
  #details::slotted(*) {
    padding: 0 1rem;
  }

  #root {
    background-color: var(--mkThemeBG);
    color: var(--mkThemeFG);
  }
</style>

<div id="root" layout="row">
  <div id="bulletContainer" layout="row" flex-align="center" flex-justify="center">
    <slot name="bullet"></slot>
  </div>
  <div layout="column" id="contents" flex>
    <slot id="label" name="label"></slot>
    <slot id="details" name="details"></slot>
  </div>
</div>