<style id="theme"></style>
<style>
  #iconContainer, #itemNameContainer, #itemDetailContainer {
    display: none;
  }

  #itemNameContainer.displayed,
  #itemDetailContainer.displayed,
  #iconContainer.displayed {
    display: flex;
  }

  #iconContainer {
    width: 4rem;
  }

  #iconContainer, #textContainer {
    background-color: var(--mkThemePassiveBG);
    color: var(--mkThemePassiveFG);
  }

  #root {
    height: 4rem;
    position: relative;
  }

  #tool {
    overflow: hidden;
    width: 0;
    transition: width var(--mkAnimationTime);
  }
</style>

<div fill-parent id="root" layout="row">
  <div flex-align="center" flex-justify="center" id="iconContainer" layout="row">
    <mk-icon id="icon"></mk-icon>
  </div>
  <div flex id="textContainer" layout="column">
    <div flex flex-justify="center" id="itemNameContainer" layout="column" mk-body-2>
      <div id="itemName"></div>
    </div>
    <div flex flex-justify="center" id="itemDetailContainer" layout="column" mk-secondary>
      <div id="itemDetail"></div>
    </div>
  </div>
  <div flex-justify="flex-end" id="tool" layout="row" mk-theme-highlight shadow="down">
    <slot></slot>
  </div>
</div>

