<style id="theme"></style>
<style>
  #container {
    overflow: scroll;
    padding: 0 1rem;
    position: relative;
  }

  #drawer {
    position: relative;
  }

  #drawerSection {
    position: absolute;
  }

  #drawerSlot::slotted([slot="drawer"]),
  #title {
    width: 16rem;
  }

  #drawerSlot::slotted([slot="drawer"]) {
    flex: 1;
  }

  #mainSlot::slotted([slot="main"]) {
    height: 100%;
    position: relative;
  }
</style>

<section id="root" layout="row" fill-parent>
  <mk-drawer
      id="drawer"
      max-size="16rem"
      min-size="4rem"
      mk-theme-highlight
      mode="vertical">
    <div id="drawerSection" fill-parent layout="column" shadow="down">
      <mk-text-icon-button id="title"></mk-text-icon-button>
      <slot id="drawerSlot" name="drawer"></slot>
    </div>
  </mk-drawer>
  <section flex id="container">
    <slot id="mainSlot" name="main"></slot>
  </section>
</section>
