<style>
  #container {
    background-color: var(--mkThemeBG);
    overflow: auto;
    padding: 0;
    position: relative;
  }

  #drawer {
    position: relative;
  }

  #drawerSection {
    position: absolute;
  }

  #drawerSlot::slotted([slot="drawer"]),
  #title {
    width: 16rem;
  }

  #drawerSlot::slotted([slot="drawer"]) {
    flex: 1;
  }

  #mainSlot::slotted([slot="main"]) {
    height: 100%;
    position: relative;
  }
</style>

<section id="root" layout="row" fill-parent>
  <mk-drawer-layout
      id="drawer"
      max-size="16rem"
      min-size="4rem"
      mk-theme-highlight
      mode="vertical"
      mk-body-1>
    <div id="drawerSection" fill-parent layout="column" shadow="down">
      <mk-button id="titleButton">
        <mk-list-item-layout>
          <mk-icon slot="bullet" id="mainIcon"></mk-icon>
          <p slot="label" id="title"></p>
        </mk-list-item-layout>
      </mk-button>
      <slot id="drawerSlot" name="drawer"></slot>
    </div>
  </mk-drawer-layout>
  <section flex id="container">
    <slot id="mainSlot" name="main"></slot>
  </section>
</section>
