<style id="theme"></style>
<style>
  #container {
    overflow: scroll;
    padding: 0 1rem;
    position: relative;
  }
</style>

<section id="root" layout="row" fill-parent>
  <mk-drawer
      id="drawer"
      max-size="16rem"
      min-size="4rem"
      mk-theme="highlight"
      mode="vertical"
      shadow="down">
    <mk-text-icon-button id="title"></mk-text-icon-button>
    <slot name="drawer"></slot>
  </mk-drawer>
  <section flex id="container">
    <slot name="main"></slot>
  </section>
</section>
